.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0;

	input {
		margin: 1em;
	}

	.status {
		padding: 8px;

		color: #721c24;
		background-color: #f8d7da;
	}
}
